// Useful for all variations of AgriFlex4

@charset "utf-8";

@import "foundation";
@import "settings";

h1 {
	margin-bottom: $grid-margin-gutters;
}

.full-width-content .content-sidebar-wrap .content {
	@include breakpoint(medium) {
		width: 66.67%;
	}
}

#degree-filters {
	hyphens: auto;
	margin-bottom: $grid-margin-gutters;

	input {
		margin: 0 .5rem;
	}

	label {
		line-height: 1.4;
	}

	.item > .cell:first-child {
		line-height: 1;
	}

	ul.menu:not(.is-accordion-submenu) {
		display: none;
	}

	> li {
		a {
			background-color: $gray-lighter;
			padding-right: 2rem;

			&:hover {
				color: $maroon;
			}
		}

		ul {
			margin: $grid-margin-gutters / 4 0;

			&.last {
				margin-bottom: 0;
			}
		}
	}

	&.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
		border-color: $maroon transparent transparent;
	}
}

.degrees {
	margin-left: 0 - $grid-padding-gutters / 4;
	margin-right: 0 - $grid-padding-gutters / 4;

	.degree {
		@include xy-gutters( $grid-padding-gutters / 2, padding );
		position: relative;
		margin-bottom: $grid-padding-gutters / 2;

		div {
			position: absolute;
			bottom: 0;
			right: $grid-padding-gutters / 4;
			left: $grid-padding-gutters / 4;
			top: 50%;
			background-color: rgba($dark-blue, .8);
			padding: $grid-padding-gutters / 3 $grid-padding-gutters / 2;
			color: $white;
			text-align: right;
			line-height: 1.1;
			font-size: 4vw;
			font-weight: bold;

			@include breakpoint(medium) {
				font-size: 1.5vw;
			}

			a {
				text-decoration: none;
			}
		}

		@include breakpoint(medium) {
			@include breakpoint(900px down) {
				@include xy-cell( 4, false, 0 );

				div {
					font-size: 2vw;
				}
			}
		}
	}
}
